@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color:rgb(158, 157, 157);
    font: 1em sans-serif;
    transition: transform 0.3s ease;
}
.sidebar nav{

    padding: 45px;
}
.sidebar nav li{
    list-style-type:none;
    font-size: 30px;
    padding: 33px;
}
.sidebar nav a{
    text-decoration: none;
    color: black;
}
.main{

 width: 90vw;
}
.container{
    display: flex;
}
.infocontainer{
    height: 45vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;

    margin-left: 330px;
}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction:column ;
}

.devpic img{
    width: 500px;
    height: 58vh;
    
}
.hello{
    font-size: 50px;
}
.name{
    font-size: 50px;
    font-weight: bold;
}
.About{
    font-size: 60px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 2em;
    margin: 0 3px;
    cursor: pointer;

}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: white;
    color:dodgerblue;

}
.MoreAbout {
    font-size: 2em;
    margin-top: 23px;
}
.buttons{
    margin-top:2em;
    font-size: 16px;
}
.contactform{
    font-family: 'fira sans', sans-serif;
    padding-top: 144px ;
    padding: 0 34px;
}
.contactform h1{
    font-family: 'source code pro', monospace;
    text-align: center;
    padding: 12px 0;
}
.contactform form div{
    padding: 20px 0 ;
    display: flex;
    flex-direction: column;
}

#emailHelp{
    font-size: 8px;
    color: midnightblue;
    margin: 0 5px;
}
.contactform form div{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;

}
#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.blogcontainer h1{
    font-family: 'source code pro', monospace;

}

.blogitem{
    margin: 20px;
    font-family: 'fira sans', sans-serif;
}
h1{
    font-family: 'fira sans', sans-serif;
    margin: 23px;
    font: bold;
}
p{
 font-family:'fira sans',sans-serif;

}
.intro h2{

    font-family:'fira sans',sans-serif;
    margin: 0 12px;
    font: bold;
    
}
.intro p{
    font-family: 'source code pro', monospace;

}
.skill{
    width: 100px;
    height: 13px;
    background-color: red;
    border: 10px black;
}
.skillitem {
    display: flex;
    align-items: center;
    font-weight: 900;
    
}
.hundred{
    width: 250;
    border: 2px  solid black;
  
}
.fifty{
    width:120px;
    background-color: aqua;
    border: 2px solid black;

}
.twentyfive{
    width: 75px;
    background-color: yellow;
    border: 2px solid black;
}


@media (max-width:1107px ) {

.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
}
.menu{
    position: absolute;
    cursor: pointer;
    top: 18px;
    left: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 5px;
}
.menu{
    margin-top: 5px;
}
.devinfo{
    font: size 10px; 
}